@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Cadastro.Usuarios.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Nydus_Suporte.Cadastro.UsuariosGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>