@model Nydus_Suporte.Membership.ResetPasswordEmailModel

<html>
<head>
    <title>Reset your Nydus_Suporte password</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>We received a request to change your password on Nydus_Suporte.</p>

    <p>Click the link below to set a new password:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>

    <p>If you don't want to change your password, you can ignore this email.</p>

    Thanks,
    The "Nydus_Suporte" Team
</body>
</html>